@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --theme-color: #d84315;
  --secondary-color: #ff8a65;
}

html {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-size: clamp(16px, 2.4vw, 21px);
  line-height: 1.4;
}

body {
  margin: 0;
}

a {
  color: var(--theme-color);
  text-decoration: underline;

  &:hover {
    color: var(--secondary-color);
  }
}

button {
  background-color: var(--theme-color);
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: bold;
  height: 2rem;
  margin: 1rem 0.25rem;
  padding: 0.25rem 1rem 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    background-color: var(--secondary-color);
  }
}

input {
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  height: 2rem;
  line-height: normal;
  margin: 1rem 0.25rem;
  padding: 0.25rem;
  width: 20rem;
}
